@import url("police/police.css"); 
@import url("header/header.css");
@import url("contenu/contenu.css");
@import url("contact/contact.css");
@import url("footer/footer.css");


/* section de l'image de presentation */

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* first column */
section .first-container {
    width: 40%;
    color: white;
    animation: slide 1.5s ease-out;
}
@keyframes slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
 
/* voir plus */
.voir{
    text-decoration: underline;
}

 


/* second column */
section .second-container {
    width: 50%;
    height: auto;
}
section .second-container img {
    width: 800px;
    margin-top: 70px;
    right: 0;
    animation: slide 1.5s ease-out;
}

@media(max-width : 940px) {
    section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    /* first column */
    section .first-container {
        width: 50%;
        color: white;
    }
    section .first-container h1,h2 {
        font-size: 20px;
    }
    
    
    
    /* second column */
    section .second-container {
        width: 50%;
        height: auto;
    }
    
    section .second-container img {
        width: 300px;
        margin-top: 70px;
    }
}

/* contenu / classe banner pour l'image au dessous de navbar */
.container {
    display: flex;
    background-color: rgba(2,23,64,0.837641);
    padding: 18px;
    animation: slide 1.5s ease-out;
}

/* Écran petit (mobile) */
@media (max-width: 767px) {
 .container {
    flex-direction: column;
  }

 .container > div {
    width: 100%;
    margin: 10px 0;
  }
}

.container > div {
    width: 200px;
    background-color: rgba(2,23,64,0.837641);
    margin: 0px 0px  0px 30px;
    justify-content: center;
    display: flex;
}

.container h2 {
    color: #3D2DA6;
    width: 03px;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    font-family: 'beyno';
    margin-top: -3px;
}
.container > div:nth-child(1) {
    width: 200px;
    height: 300px;
    margin-top: -50px;
    margin-left: 90px;
}

.container > div:nth-child(2) {
    width: 300px;
    height: 250px;
    color: #fff;
    margin-top: -20px;
    margin-left: 30px;
}

.container > div:nth-child(3) {
    width: 100px;
    height: 250px;
    justify-content: center;
    color: #fff;
    margin-top: -20px;
    margin-left: 35px;
}

.container > div:nth-child(4) {
    width: 300px;
    height: 250px;
    justify-content: center;
    color: #fff;
    margin-top: -20px;
    margin-left: 55px;
}

.container > div:nth-child(5) {
    width: 100px;
    height: 250px;
    justify-content: center;
    color: #fff;
    margin-top: -20px;
    margin-left: 3px;
}

.container h3 {
    color: #3D2DA6;
    
}

.texte {
    width: 200px;
    margin-top: 30px;
    justify-content: center;
    font-family: 'cantarell';
    font-size: 16px;
}


 @media (max-width: 767px) {
    input {
        width: 520px;
        display: block;
        height: 10px;
        padding: 15px;
        margin-left: 100px;
        margin-top: 15px;
        outline: none;
        border-radius: 50px;
     }

     textarea {
        width: 300px;
        display: block;
        height: 56px;
        padding: 15px;
        margin-left: 100px;
        margin-top: 15px;
        outline: none;
        border-radius: 38px;
     }

     .button {
        width: 174px;
        height: 54px;
        color: #000;
        margin-top: 10px;
        cursor: pointer;
        background-color: #FFFFFF;
        display: flex;
        border-radius: 38px;
        justify-content: center;
        align-items: center;
        margin-left: 200px;
     }
    
 }

    /* footer */  

    .plus img:nth-child(1):hover {
        transform: scale(1.1);
    }
    .plus img:nth-child(2):hover {
        transform: scale(1.1);
    }
    .plus img:nth-child(3):hover {
        transform: scale(1.1);
    }
    .plus img:nth-child(4):hover {
        transform: scale(1.1);
    }

    @media (max-width: 767px) {
        .image-footer {
            width: 100px;
            height: 100px;
            margin-top: 20%;
            margin-left: 10%;
          }

          .image-footer img {
            width: 50px;
            height: 50px;
            object-fit: contain;
            object-position: center;
            display: flex;
            margin-top: 40%;
        }
        
        
        .page {
            width: 80px;
            height: 100px;
            margin-top: 20%;
            margin-left: 10%;
          }
        
        .plus {
            width: 200px;
            height: 100px;
            margin-top: 20%;
            margin-left: 15%;
            }
            }

            .page-footer, .plus-footer {
                font-size: 22px;
                margin-top: -100px;
            }

            .page a {
                text-decoration: none;
                color: #FFFFFF;
                font-size: 10px;
            }
            
            .page a:hover {
                text-decoration: underline #FFFFFF;
            }

            .plus a {
                text-decoration: none;
                font-size: 10px;
            }
            
            .ending {
                color: #FFFFFF;
                font-size: 10px;
                position: absolute;
                right: 15%;
                margin-top: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
            }