
@import url("police/police.css"); 
@import url("header/header.css");
@import url("contenu/contenu.css");
@import url("contact/contact.css");
@import url("footer/footer.css");


/* section de l'image de presentation */
section {
    display: block;
    width: 100%;
    animation : slide 1.5s ease-out;
}

/* animation */
   
@keyframes slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

@media(max-width : 768px) {
    

    }
    
    main {
        display: block;
        margin: 0;
        padding: 0;
    }

/* contenu / classe banner pour l'image au dessous de navbar */


.flex-container {
    display: flex;
    background-color: rgba(2,23,64,0.837641);
    padding: 18px;
    justify-content: center;
    font-family: 'beyno';
    color: #FFFFFF;
    animation: slide 1.5s ease-out;
}

/* Écran petit (mobile) */
@media (max-width: 768px) {
 .flex-container {
    width: 50px;
    flex-direction: row;
  }

 .flex-container > div {
    margin: 0 10px;

  }
}

.flex-container > div {
    width: 200px;
    background-color: rgba(2,23,64,0.837641);
    margin: 10px;
    justify-content: center;
    display: flex;
}

.flex-container h2 {
    color: #3D2DA6;
    width: 3px;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    padding-bottom: 5px;
    font-family: 'beyno';
    margin-top: -3px;
}
.flex-container > div:nth-child(1) {
    width: 200px;
    height: 300px;
    margin-top: -50px;
    margin-left: 90px;
}

.flex-container > div:nth-child(2) {
    width: 300px;
    height: 250px;
    color: #fff;
    margin-top: -20px;
    margin-left: 30px;
}

.flex-container > div:nth-child(3) {
    width: 100px;
    height: 250px;
    justify-content: center;
    color: #fff;
    margin-top: -20px;
    margin-left: 35px;
}

.flex-container > div:nth-child(4) {
    width: 300px;
    height: 250px;
    justify-content: center;
    color: #fff;
    margin-top: -20px;
    margin-left: 55px;
}

.flex-container > div:nth-child(5) {
    width: 100px;
    height: 250px;
    justify-content: center;
    color: #fff;
    margin-top: -20px;
    margin-left: 3px;
}

.flex-container h3 {
    color: #3D2DA6;
    
}

.texte {
    width: 200px;
    margin-top: 30px;
    justify-content: center;
    font-family: 'cantarell';
    font-size: 16px;
}


 @media (max-width: 768px) {

    input {
        width: 100%;
        display: block;
        height: 10px;
        padding: 15px;
        margin-left: 100px;
        margin-top: 15px;
        outline: none;
        border-radius: 50px;
     }

     textarea {
        width: 300px;
        display: block;
        height: 56px;
        padding: 15px;
        margin-left: 100px;
        margin-top: 15px;
        outline: none;
        border-radius: 38px;
     }

     .button {
        width: 174px;
        height: 54px;
        color: #000;
        margin-top: 10px;
        cursor: pointer;
        background-color: #FFFFFF;
        display: flex;
        border-radius: 38px;
        justify-content: center;
        align-items: center;
        margin-left: 200px;
     }
    
 }

    

    