@import url('../Accueil/police/police.css'); 
@import url('../Accueil/header/header.css');
@import url('./footer/footer.css');
@import url('./contenu/contenu.css');
@import url('./modal/modal.css');

header {
    display: flex;
    height: auto;
    background-image: url('../Ilustrations/arrière_plan.png');
    background-size: cover;
    background-position: center;
}

@media (max-width: 940px) {
    .logo img{
        font-size: auto;
        padding: 0 5px;
        object-fit: contain;
    }
    section .second-container img {
        width: 800px;
        margin-top: 70px;
        justify-content: flex-end;
    }
}
@keyframes slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  /* section pour le header */

  .section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    animation: slide 1.5s ease-out; 
  }

  .first-section {
    width: 100%;
    display: block;
  }

  .first-section img {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10%;
    margin-left: 10%;
    object-fit: contain;
    filter: brightness(100%);
    opacity: 1;
  }

  .second-section {
    width: 100%;
    position: absolute;
    display: flex;
  }

  .second-section h1 {
    width: auto;
    font-size:  50px !important;
    margin-top: 10%;
    margin-left: 60%;  
    letter-spacing: 5px; 
    color: #3D2DA6;
    font-size: 32px;
    font-family: 'beyno';
  }

  .second-section img {
    width: 600px;
    margin-left: -35%;
    margin-top: 20%;
  }
   
  .text{
    width: 400px;
    text-align: justify;
    flex: 1;
    position: absolute;
    margin-left: 65%;
    margin-top: 28%;
    color: #ffffff;
    font-size: 12px;
    font-family: 'cantarell';
  }

  @media (max-width: 940px) {
    .first-section {
        width: 40%;
        display: flex;
        padding: 20px;
        object-fit: cover;
      }
      .first-section img {
        width: 200%;
        display: flex;
        object-fit: cover;
        opacity: 1;
        z-index: 1;
      }
      .second-section {
        width: 100%;
        display: flex;
        margin-left: 10%;
      }
    
      .second-section h1 {
        font-size: 20px;
        margin-left: 40%;
        color: #3D2DA6;
      }
    
      .second-section img {
        width: 200px;
        margin-left: -80%;
        margin-top: 30%;
      }
       
      .text {
        width: 300px;
        position: absolute;
        margin-left: 20%;
        margin-top: 28%;
        color: #ffffff;
        font-size: 10px;
      }
  }
  
 
/* second-contenu */
  @media (max-width: 940px) {
    .savoir {
        color: #3D2DA6;
        width: 200%;
        height: 100%;
        display: flex;
        position: relative;
        margin: 20px;
        font-size: 20px;
      }  
      .transcription {
        width: 350px;
        margin-top: 40%;
        color: #ffffff;
        font-size: 10px;  
        margin-left: 20px;  
      }
      .question {
        width: 100px;
        justify-content: center;
        margin-top: 40%;
        color: #ffffff;
        font-size: 10px;
        margin-left: -4%; 
        position: absolute;      
      }

      .question input {
        border: 1px solid  black;
        outline: none;
        padding: 10px;
        border-radius: 20px;
        width: 200px;
        height: 10px;
        background-color: transparent;
      }
      
      .button {
        width: 74px;
        height: 24px;
        font-size: 20px;
        color: #000;
        margin-top: 100%;
        background-color: #ffffff;
        display: flex;
        border: 1px solid #ffffff;
        cursor: pointer;
        border-radius: 38px;
        justify-content: center;
        align-items: center;
        z-index: 1;
        opacity: 1;
        transition: box-shadow 0.3s ease-in-out;
     }
       
  }
 







       