@import url('../Accueil/police/police.css');
@import url('../Accueil/header/header.css');
@import url('./header/header.css');
@import url('./contenu/contenu.css');
@import url('../Accueil/footer/footer.css');

header {
    display: flex;
    height: 650px;
    background-image: url('../wakanda/image/Pantherwakanda1.png');
    background-size: auto;
    background-position: center;
}
@media (max-width: 940px) {
    .logo img{
        font-size: auto;
        padding: 0 5px;
        object-fit: contain;
    }
    section .second-container img {
        width: 800px;
        margin-top: 70px;
        justify-content: flex-end;
    }
}
/* section de l'image de presentation */

/* first column */
@keyframes slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

@media(max-width : 940px) {
    section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section .first-container h1,h2 {
        font-size: 20px;
    }
    /* second column */
    section .second-container {
        width: 50%;
        height: auto;
        z-index: -1;
    }
    section .second-container img {
        width: 300px;
        margin-top: 70px;
        z-index: -1;
    }
}

@media screen and (max-width: 768px) {
    .content {
       width: 100%;
       float: none;
     }
     .content img {
        width: 500px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        opacity: 0.3;
        z-index: 1;
    }
   }

@media screen and (max-width: 768px) {
    video {
      width: 400px;
      height: 50vh;
    }
    .fa {
        color: #000;
        justify-content: center;
        align-items: center;
        display: flex;
        position: absolute;
        font-size: 40px !important;
        top: 215%;
        margin-left: 23%;
    }
  }
.fa {
    color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    font-size: 40px !important;
    top: 245%;
    left: 23%;
}


 /* footer */


.image-footer:hover img:nth-child(1) {
    transform: scale(1.1);
}

.plus img:nth-child(1):hover {
    transform: scale(1.1);
}
.plus img:nth-child(2):hover {
    transform: scale(1.1);
}
.plus img:nth-child(3):hover {
    transform: scale(1.1);
}
.plus img:nth-child(4):hover {
    transform: scale(1.1);
}

@media (max-width: 767px) {
    .image-footer {
        width: 100px;
        height: 100px;
        margin-top: 20%;
        margin-left: 10%;
      }

      .image-footer img {
        width: 50px;
        height: 50px;
        object-fit: contain;
        object-position: center;
        display: flex;
    }
    
    
    .page {
        width: 80px;
        height: 100px;
        margin-top: 20%;
        margin-left: 10%;
      }
    
    .plus {
        width: 200px;
        height: 100px;
        margin-top: 20%;
        margin-left: 15%;
        }
        }
        

        .page-footer, .plus-footer {
            font-size: 22px;
            margin-top: -100px;
        }

        .page a {
            text-decoration: none;
            color: #FFFFFF;
            font-size: 10px;
        }
        
        .page a:hover {
            text-decoration: underline #FFFFFF;
        }

        .plus a {
            text-decoration: none;
            font-size: 10px;
        }

        .ending {
            color: #FFFFFF;
            font-size: 10px;
            position: absolute;
            right: 15%;
            margin-top: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        

