@import url('../Accueil/police/police.css');
@import url('../Accueil/header/header.css');
@import url('./header/header.css');
@import url('./contenu/contenu.css');

header {
    height: 650px;
    background-image: url('../wakanda/image/Pantherwakanda1.png');
    background-size: auto;
    background-position: center;
    background-clip: initial;
}
@media (max-width: 940px) {
    .logo img{
        font-size: auto;
        padding: 0 5px;
        object-fit: contain;
    }
    section .second-container img {
        width: 800px;
        margin-top: 70px;
        justify-content: flex-end;
    }
}
/* section de l'image de presentation */

/* first column */
@keyframes slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

@media(max-width : 940px) {
    section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section .first-container h1,h2 {
        font-size: 20px;
    }
    /* second column */
    section .second-container {
        width: 50%;
        height: auto;
        z-index: -1;
    }
    section .second-container img {
        width: 300px;
        margin-top: 70px;
        z-index: -1;
    }
}

@media screen and (max-width: 768px) {
    .content {
       width: 100%;
       float: none;
     }

     .content img {
        width: 500px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        opacity: 0.3;
        z-index: 1;
    }
   }

@media screen and (max-width: 768px) {
    video {
      width: 400px;
      height: 50vh;
    }

    .fa {
        color: #000;
        justify-content: center;
        align-items: center;
        display: flex;
        position: absolute;
        font-size: 40px !important;
    }

    .div {
        width: 100px;
        height: 100px;
        background-color: red;
        justify-content: center;
        align-items: center;
        display: flex;
        position: absolute;
        margin-top: -5%;
        margin-left: 25%;
        border-radius: 50%;
    }

  }


.fa {
    color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    font-size: 40px !important;
    top: 30%;
    left: 35%;
    cursor: pointer;
}

.div {
    width: 100px;
    height: 100px;
    background-color: red;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 200%;
    left: 15%;
    border-radius: 50%;
}


.image-footer:hover img:nth-child(1) {
    transform: scale(1.1);
}

.plus img:nth-child(1):hover {
    transform: scale(1.1);
}
.plus img:nth-child(2):hover {
    transform: scale(1.1);
}
.plus img:nth-child(3):hover {
    transform: scale(1.1);
}
.plus img:nth-child(4):hover {
    transform: scale(1.1);
}



/* footer */

footer {
    width: 100%;
    height: 500px;
    display: block;
    background-image: url("../Ilustrations/back_footer.png");
    background-size: cover;
    background-position: center;
    font-family: "cantarell";
    margin-top: 5%;
  }


.container-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    color: #ffffff;
  }

  .footer-content {
    width: 30%;
    display: block;
  }

  .footer-content :hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .opacity {
    opacity: 1;
    margin-left: 100px;
  }

  .image-container {
    width: 500px;
    margin-top: -50%;
    margin-left: 40%;  
  }
  
  .image-container img {
    width: auto;
  }

  .page-content {
    display: block;
    width: 40%;
    margin-left: 20%;
  }

  .page-title p:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .footer-contact {
    width: 30%;
    display: block;
  }

  .footer-contact img {
    margin: 5px;
  }

  .footer-contact :hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .ending {
    display: block;
    position: absolute;
    margin-top: 20%;
    margin-left: 35%;
    color: #ffffff;
  }

  
  @media only screen and (max-width: 768px) {

    .footer-content {
      flex-direction: column;
      align-items: center;
    }

    .opacity img {
        width: 200px;
        margin-left: -100px;
    }

    .ending {
        display: flex;
        margin-top: 60%;
        margin-left: 0px;
        text-align: center;
    }

    .page-content {
        margin-left: 10%;
    }

    .footer-contact {
        width: 100%;
        display: block;
      }
    
      .footer-contact img {
        margin: 5px;
        display: inline-block;
      }

      .image-container {
        width: 500px;
        margin-top: -100%;
        margin-left: 20%;  
      }
  }